.chart {
    display: flex;
    flex: 3;
    justify-content: space-between;
    // padding: 3rem;
    -webkit-box-shadow:4px 6px 12px 3px rgba(0,0,0,0.6);
    box-shadow: 4px 6px 12px 3px rgba(201,201,201,0.6);
    
}